In [1]:
#Importar bibliotecas:
import pandas as pd
import numpy as np
import datetime
from tqdm import trange #barra de progresso

In [2]:
#Função para cálcular a IRRADIÂNCIA SOLAR EXTRATERRESTRE (MJ/m² . dia):
def getRadian(latitude, dia_juliano):
    latitude -= -1.25
    latitude = np.radians(latitude)
    inclinacao = np.radians(23.45) * np.sin (((np.radians(360) / 365) * (284 + dia_juliano)))
    hn = np.arccos((-np.tan(latitude)) * np.tan(inclinacao))
    radAtm = 37.6 * (( hn *  np.sin(latitude) * np.sin(inclinacao)) + ( np.cos(latitude) * np.cos(inclinacao) * np.sin(hn) )  )
    return radAtm

In [3]:
#Importando dados:
df_tmed = pd.read_excel('Banco de dados Site/TEMPERATURA_MEDIA.xlsx')
df_tmax_tmin = pd.read_excel('Banco de dados Site/TEMPERATURA_MIN_MAX.xlsx')
df_umid = pd.read_excel('Banco de dados Site/UMIDADE.xlsx')

print('Concluido!')

Concluido!

In [4]:
#Convertendo as Temp de "Kº" para "Cº":

#Temperatura Média:
df_tmed['LONG_307,5'] -= 273.15
df_tmed['LONG_310'] -= 273.15
df_tmed['LONG_312,5'] -= 273.15

#Temperatura Mínina e Máxima:
df_tmax_tmin['LONG_307,5'] -= 273.15
df_tmax_tmin['LONG_310'] -= 273.15
df_tmax_tmin['LONG_312,5'] -= 273.15

print('Concluido!')

Concluido!

In [5]:
#Criando colunas de "DIA" e "MÊS":
df_tmed['DIA DO MÊS'] = pd.DatetimeIndex(df_tmed['DIA']).day
df_tmax_tmin['DIA DO MÊS'] = pd.DatetimeIndex(df_tmax_tmin['DIA']).day
df_umid['DIA DO MÊS'] = pd.DatetimeIndex(df_umid['DIA']).day

df_tmed['MÊS'] = pd.DatetimeIndex(df_tmed['DIA']).month
df_tmax_tmin['MÊS'] = pd.DatetimeIndex(df_tmax_tmin['DIA']).month
df_umid['MÊS'] = pd.DatetimeIndex(df_umid['DIA']).month

print('Concluido!')

Concluido!

In [6]:
#Testando dados:
df_tmax_tmin

,DIA,MAX ou MIN,LATITUDE,"LONG_307,5",LONG_310,"LONG_312,5",DIA DO MÊS,MÊS
0,1989-01-01,MINIMA,-5.0,21.65000,22.15000,21.35000,1,1
1,1989-01-01,MINIMA,-7.5,20.95000,22.05000,21.85000,1,1
2,1989-01-01,MINIMA,-10.0,21.45000,22.25002,21.75002,1,1
3,1989-01-01,MINIMA,-12.5,22.45000,22.85000,20.95000,1,1
4,1989-01-01,MAXIMA,-5.0,24.45000,24.75002,24.55000,1,1
...,...,...,...,...,...,...,...,...
90571,2019-12-31,MINIMA,-12.5,23.04998,23.15000,21.84997,31,12
90572,2019-12-31,MAXIMA,-5.0,23.84997,24.54998,24.65000,31,12
90573,2019-12-31,MAXIMA,-7.5,23.15000,24.15000,24.54998,31,12
90574,2019-12-31,MAXIMA,-10.0,24.24996,24.84997,23.65000,31,12
90575,2019-12-31,MAXIMA,-12.5,25.54998,25.74996,23.54998,31,12

In [7]:
#Fazendo a média de cada dia (01/01, 02/01, ..., 30/12, 31/12) em todos os anos para cada DF:

df_tmed = df_tmed.groupby(['LATITUDE', 'MÊS', 'DIA DO MÊS',]).agg({'LONG_307,5': np.mean, 'LONG_310': np.mean, 'LONG_312,5': np.mean})
df_tmax_tmin = df_tmax_tmin.groupby(['LATITUDE', 'MÊS', 'DIA DO MÊS', 'MAX ou MIN']).agg({'LONG_307,5': np.mean, 'LONG_310': np.mean, 'LONG_312,5': np.mean})
df_umid = df_umid.groupby(['LATITUDE', 'MÊS', 'DIA DO MÊS',]).agg({'LONG_307,5': np.mean, 'LONG_310': np.mean, 'LONG_312,5': np.mean})

print('Concluido!')

Concluido!

In [8]:
#adicionando dia juliano ao df_umid para calcular o "radA":
dia_juliano = []
for i in trange(1, 367):
    dia_juliano.append(i)
df_umid['DIA JULIANO'] = dia_juliano * 4

print('Concluido!')

100%|██████████| 366/366 [00:00<00:00, 158635.45it/s]

Concluido!

In [9]:
#chamando dados:
df_tmax_tmin['LONG_307,5'][-5.0][1][1]['MAXIMA']

24.640646451612934

In [10]:
#Salvar dados em Dicts:
tmed = {'zona1' : [], 'zona2' : [], 'zona3' : [], 'zona4' : [], 'zona5' : [], 'zona6' : [], 'zona7' : [], 'zona8' : [], 'zona9' : [], 'zona10' : [], 'zona11' : [], 'zona12' : []}
tmin = {'zona1' : [], 'zona2' : [], 'zona3' : [], 'zona4' : [], 'zona5' : [], 'zona6' : [], 'zona7' : [], 'zona8' : [], 'zona9' : [], 'zona10' : [], 'zona11' : [], 'zona12' : []}
tmax = {'zona1' : [], 'zona2' : [], 'zona3' : [], 'zona4' : [], 'zona5' : [], 'zona6' : [], 'zona7' : [], 'zona8' : [], 'zona9' : [], 'zona10' : [], 'zona11' : [], 'zona12' : []}
umid = {'zona1' : [], 'zona2' : [], 'zona3' : [], 'zona4' : [], 'zona5' : [], 'zona6' : [], 'zona7' : [], 'zona8' : [], 'zona9' : [], 'zona10' : [], 'zona11' : [], 'zona12' : []}
radA = {'zona1' : [], 'zona2' : [], 'zona3' : [], 'zona4' : [], 'zona5' : [], 'zona6' : [], 'zona7' : [], 'zona8' : [], 'zona9' : [], 'zona10' : [], 'zona11' : [], 'zona12' : []}

#Listas auxiliares:
latitude = [-5.0, -7.5, -10.0, -12.5]
longitude = ['LONG_307,5', 'LONG_310', 'LONG_312,5']
max_min = ['MAXIMA', 'MINIMA']

#Entrar em cada coluna de longitude:
for long in trange(0, 3):
    
    #Entrar em cada indice de latitude:
    for lati in range(0, 4):
        
        #Entrar em cada indice de mês:
        for mês in range(1, 13):
            
            #definir quantidade de dias no mês:
            if mês in [1, 3, 5, 7, 8, 10, 12]:
                qtd_dia = 32
            elif mês == 2:
                qtd_dia = 30
            else:
                qtd_dia = 31
                
            #Entrar em cada indice de dia:
            for dia in range(1, qtd_dia):
                
                #Salvar dados de temperatura média, umidade, radiação de cada dia separado por zona:
                if lati == 0 and long == 0:
                    tmed['zona1'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona1'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona1'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 0 and long == 1:
                    tmed['zona2'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona2'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona2'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 0 and long == 2:
                    tmed['zona3'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona3'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona3'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 1 and long == 0:
                    tmed['zona4'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona4'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona4'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 1 and long == 1:
                    tmed['zona5'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona5'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona5'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 1 and long == 2:
                    tmed['zona6'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona6'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona6'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 2 and long == 0:
                    tmed['zona7'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona7'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona7'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 2 and long == 1:
                    tmed['zona8'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona8'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona8'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 2 and long == 2:
                    tmed['zona9'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona9'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona9'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 3 and long == 0:
                    tmed['zona10'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona10'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona10'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 3 and long == 1:
                    tmed['zona11'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona11'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona11'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                elif lati == 3 and long == 2:
                    tmed['zona12'].append(df_tmed[longitude[long]][latitude[lati]][mês][dia])
                    umid['zona12'].append(df_umid[longitude[long]][latitude[lati]][mês][dia])
                    radA['zona12'].append(getRadian(latitude[lati], df_umid['DIA JULIANO'][latitude[lati]][mês][dia]))
                
                #entrar em cada tipo de temperatura (MAXIMA ou MINIMA):
                for tipoTemp in range(0, 2):
                    
                    #Salvar dados de temperatura máxima de cada dia separado por zona:
                    if tipoTemp == 0:
                        if lati == 0 and long == 0:
                            tmax['zona1'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 0 and long == 1:
                            tmax['zona2'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 0 and long == 2:
                            tmax['zona3'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 1 and long == 0:
                            tmax['zona4'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 1 and long == 1:
                            tmax['zona5'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 1 and long == 2:
                            tmax['zona6'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 2 and long == 0:
                            tmax['zona7'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 2 and long == 1:
                            tmax['zona8'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 2 and long == 2:
                            tmax['zona9'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 3 and long == 0:
                            tmax['zona10'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 3 and long == 1:
                            tmax['zona11'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 3 and long == 2:
                            tmax['zona12'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                            
                    #Salvar dados de temperatura mínima de cada dia separado por zona:
                    else:
                        if lati == 0 and long == 0:
                            tmin['zona1'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 0 and long == 1:
                            tmin['zona2'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 0 and long == 2:
                            tmin['zona3'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 1 and long == 0:
                            tmin['zona4'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 1 and long == 1:
                            tmin['zona5'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 1 and long == 2:
                            tmin['zona6'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 2 and long == 0:
                            tmin['zona7'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 2 and long == 1:
                            tmin['zona8'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 2 and long == 2:
                            tmin['zona9'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 3 and long == 0:
                            tmin['zona10'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 3 and long == 1:
                            tmin['zona11'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        elif lati == 3 and long == 2:
                            tmin['zona12'].append(df_tmax_tmin[longitude[long]][latitude[lati]][mês][dia][max_min[tipoTemp]])
                        
print('Concluido!')

100%|██████████| 3/3 [00:50<00:00, 16.73s/it]

Concluido!

In [11]:
#['ET0IV'] = (0.006 * (((25 + (Temp Média))** 2) * (1 - (Umidade'/ 100))))
def evapoIV(temp_med, umid):
    et0IV = 0.006 * ( ( (25 + temp_med ) ** 2) * (1 - (umid / 100) )  )
    return et0IV

#['ET0HS'] = 0.0023 * (radAtm  / 2.45) * (np.sqrt(tpmax - tpmin)) * (media_dia_temperatura + 17.8)
def evapoHS(radiacao, temp_max, temp_min, temp_med):
    et0HS = 0.0023 * (radiacao / 2.45) * (np.sqrt (temp_max - temp_min)) * (temp_med + 17.8)
    return et0HS

In [12]:
#Cálcular ET0 e salvar dados em DF para cada zona:

#Dicts para salvar as ET0:
et0IV = {'zona1' : [], 'zona2' : [], 'zona3' : [], 'zona4' : [], 'zona5' : [], 'zona6' : [], 'zona7' : [], 'zona8' : [], 'zona9' : [], 'zona10' : [], 'zona11' : [], 'zona12' : []}
et0HS = {'zona1' : [], 'zona2' : [], 'zona3' : [], 'zona4' : [], 'zona5' : [], 'zona6' : [], 'zona7' : [], 'zona8' : [], 'zona9' : [], 'zona10' : [], 'zona11' : [], 'zona12' : []}

#Lista auxiliar:
zonas = ['zona1', 'zona2', 'zona3', 'zona4', 'zona5', 'zona6', 'zona7', 'zona8', 'zona9', 'zona10', 'zona11', 'zona12']

#Entra em cada zona:
for zona in trange(12):
    
    #Entra em cada dia e realiza os cálculos:
    for dia in range(366):
        et0IV[zonas[zona]].append(evapoIV(tmed[zonas[zona]][dia], umid[zonas[zona]][dia]))
        et0HS[zonas[zona]].append(evapoHS(radA[zonas[zona]][dia], tmax[zonas[zona]][dia], tmin[zonas[zona]][dia], tmed[zonas[zona]][dia]))

print('Concluido!')

100%|██████████| 12/12 [00:00<00:00, 186.73it/s]

Concluido!

In [13]:
et0HS['zona5'][166]

3.095065943813724

In [14]:
et0HS['zona4'][166]

2.889725818959151

In [15]:
#Salvar cvs dos dados:
df_tmed = pd.DataFrame(tmed)
df_tmin = pd.DataFrame(tmin)
df_tmax = pd.DataFrame(tmax)
df_umid = pd.DataFrame(umid)
df_radA = pd.DataFrame(radA)
df_ET0IV = pd.DataFrame(et0IV)
df_ET0HS = pd.DataFrame(et0HS)

print('Concluido!')

Concluido!

In [16]:
#Criando planilha para salvar os dados:
writer = pd.ExcelWriter('Tabelas_Resultados_Finais.xlsx', engine='xlsxwriter')

print('Concluido!')

Concluido!

In [17]:
#Salvando cada Dict em uma aba:
df_tmed.to_excel(writer, sheet_name='TEMPERATURA MÉDIA (ºC)')
df_tmin.to_excel(writer, sheet_name='TEMPERATURA MÍNIMA (ºC)')
df_tmax.to_excel(writer, sheet_name='TEMPERATURA MÁXIMA (ºC)')
df_umid.to_excel(writer, sheet_name='UMIDADE RELATIVA (%)')
df_radA.to_excel(writer, sheet_name='RAD ATM (MJ . m2-1 . dia)')
df_ET0IV.to_excel(writer, sheet_name='ET0 IVANOV')
df_ET0HS.to_excel(writer, sheet_name='ET0 HARGREAVES-SAMANI')

print('Concluido!')

Concluido!

In [18]:
#Salvando edição:
writer.save()

print('Concluido!')

Concluido!

In [19]:
#Cálcular médias mensais:

#Criando Lista das médias:
jan = []
fev = []
mar = []
abr = []
mai = []
jun = []
jul = []
ago = []
sete = []
out = []
nov = []
dez = []

#entra em cada zona:
for zona in trange(12):
    
    #Contador auxiliar para achar o índice:
    cont = -1
    
    #entra em cada mês
    for mês in range(1, 13):
        
        #lista auxiliar para calcular a média de cada mês:
        aux_media = []
        
        #Define a quantidade de dias em cada mês:
        if mês in [1, 3, 5, 7, 8, 10, 12]:
            qtd_dia = 32
        elif mês == 2:
            qtd_dia = 30
        else:
            qtd_dia = 31
            
        #entra em cada dia:
        for dia in range(1, qtd_dia):

            #contabiliza o dia:
            cont += 1

            #salva os valores diarios do mês:
            aux_media.append(et0HS[zonas[zona]][cont])

        #Tira a média do mês e salva:
        if mês == 1:
            jan.append(f'{np.mean(aux_media):.2f}')
        elif mês == 2:
            fev.append(f'{np.mean(aux_media):.2f}')
        elif mês == 3:
            mar.append(f'{np.mean(aux_media):.2f}')
        elif mês == 4:
            abr.append(f'{np.mean(aux_media):.2f}')
        elif mês == 5:
            mai.append(f'{np.mean(aux_media):.2f}')
        elif mês == 6:
            jun.append(f'{np.mean(aux_media):.2f}')
        elif mês == 7:
            jul.append(f'{np.mean(aux_media):.2f}')
        elif mês == 8:
            ago.append(f'{np.mean(aux_media):.2f}')
        elif mês == 9:
            sete.append(f'{np.mean(aux_media):.2f}')
        elif mês == 10:
            out.append(f'{np.mean(aux_media):.2f}')
        elif mês == 11:
            nov.append(f'{np.mean(aux_media):.2f}')
        elif mês == 12:
            dez.append(f'{np.mean(aux_media):.2f}')  
            
print('Concluido!')

100%|██████████| 12/12 [00:00<00:00, 516.80it/s]

Concluido!

In [20]:
#Criando Dict de cada mês:

lat = [-6.25, -6.25, -6.25, -8.75, -8.75, -8.75, -11.25, -11.25, -11.25, -13.75, -13.75, -13.75]
lon = [-51.25, -48.75, -46.25, -51.25, -48.75, -46.25, -51.25, -48.75, -46.25, -51.25, -48.75, -46.25]
indetificação = ['zona-um', 'zona-dois', 'zona-tres', 'zona-quatro', 'zona-cinco', 'zona-seis', 'zona-sete', 'zona-oito', 'zona-nove', 'zona-dez', 'zona-onze', 'zona-doze']

jan = {'Lat': lat, 'Long': lon, 'et0hs': jan, 'zonas': indetificação}
fev = {'Lat': lat, 'Long': lon, 'et0hs': fev, 'zonas': indetificação}
mar = {'Lat': lat, 'Long': lon, 'et0hs': mar, 'zonas': indetificação}
abr = {'Lat': lat, 'Long': lon, 'et0hs': abr, 'zonas': indetificação}
mai = {'Lat': lat, 'Long': lon, 'et0hs': mai, 'zonas': indetificação}
jun = {'Lat': lat, 'Long': lon, 'et0hs': jun, 'zonas': indetificação}
jul = {'Lat': lat, 'Long': lon, 'et0hs': jul, 'zonas': indetificação}
ago = {'Lat': lat, 'Long': lon, 'et0hs': ago, 'zonas': indetificação}
sete = {'Lat': lat, 'Long': lon, 'et0hs': sete, 'zonas': indetificação}
out = {'Lat': lat, 'Long': lon, 'et0hs': out, 'zonas': indetificação}
nov = {'Lat': lat, 'Long': lon, 'et0hs': nov, 'zonas': indetificação}
dez = {'Lat': lat, 'Long': lon, 'et0hs': dez, 'zonas': indetificação}

print('Concluido!')

Concluido!

In [21]:
#Criando DFs:
df_jan = pd.DataFrame(data=jan)
df_fev = pd.DataFrame(data=fev)
df_mar = pd.DataFrame(data=mar)
df_abr = pd.DataFrame(data=abr)
df_mai = pd.DataFrame(data=mai)
df_jun = pd.DataFrame(data=jun)
df_jul = pd.DataFrame(data=jul)
df_ago = pd.DataFrame(data=ago)
df_sete = pd.DataFrame(data=sete)
df_out = pd.DataFrame(data=out)
df_nov = pd.DataFrame(data=nov)
df_dez = pd.DataFrame(data=dez)

print('Concluido!')

Concluido!

In [22]:
#Salvar as médias mensais em arquivos csv:
df_jan.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_JANEIRO.csv", index=False)
df_fev.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_FEVEREIRO.csv", index=False)
df_mar.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_MARÇO.csv", index=False)
df_abr.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_ABRIL.csv", index=False)
df_mai.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_MAIO.csv", index=False)
df_jun.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_JUNHO.csv", index=False)
df_jul.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_JULHO.csv", index=False)
df_ago.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_AGOSTO.csv", index=False)
df_sete.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_SETEMBRO.csv", index=False)
df_out.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_OUTUBRO.csv", index=False)
df_nov.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_NOVEMBRO.csv", index=False)
df_dez.to_csv("Arquivos csv - ET0HS reanalise/ET0HS_DEZEMBRO.csv", index=False)

print('Concluido!')

Concluido!